.dashboard-navigation {
    display: flex;
    justify-content: center;
    height: 100%;
    a {
        &:first-child {
            margin-right: rem(30);
        }
        font: {
            family: "PT Sans";
            size: rem(16);
        }
        color: $black;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: rem(3);
            background-color: blue;
            opacity: 0;
            transition: all 0.3s ease;
        }
        &.active {
            &:after {
                opacity: 1;
            }
        }
    }
}
.dashboard-page {
    .dashboard-stats {
        .row {
            &.dash-top-row {
                margin-top: rem(30);
            }
            margin-top: rem(20);
        }
        .card {
            padding: rem(20);
            border: none;
            &.dashboard-card {
                font: {
                    family: "PT Sans Bold";
                    size: rem(18);
                }
                .dash-info {
                    margin-bottom: rem(10);
                    display: flex;
                    justify-content: space-between;
                }
            }
            &.mini-card {
                .heading {
                    margin-bottom: rem(10);
                }
                font: {
                    family: "PT Sans";
                    size: rem(18);
                }
                .value {
                    display: flex;
                    align-items: center;
                    font: {
                        family: "PT Sans Bold";
                        size: rem(24);
                    }
                    .percent {
                        margin-left: rem(15);
                        color: #1958fa;
                        // display: inline;
                        font: {
                            size: rem(14);
                        }
                    }
                }
            }
        }
    }
    .all-polices {
        margin-top: rem(30);
        h4 {
            font: {
                family: "PT Sans Bold";
                size: rem(18);
            }
            margin-bottom: rem(20);
        }
    }
}
